animation.ipynb
final*
pics*
figs*
models
SocialSigNet*
firstExample - WithGrad - WithChanges copy 2.ipynb
firstExample - WithGrad - WithChanges copy.ipynb
createFootprints.ipynb

__pycache__
.ipynb_checkpoints
.vscode